.root {
    display: block;
    max-height: var(--aui-combobox-popover-max-h);
    overflow: auto;
    outline: none;
    box-sizing: border-box;
}

.sm,
.md,
.lg {
    padding: 0;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--aui-combobox-fg-muted);
}
