.remove {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: var(--aui-active-filters-icon-fg);
    cursor: pointer;
    border-radius: var(--aui-active-filters-icon-size-md);
}

.remove:disabled {
    cursor: not-allowed;
}

.remove:focus {
    outline: none;
}

.remove:hover:not(:disabled) {
    color: var(--aui-active-filters-icon-fg-hover);
}

.remove:focus-visible {
    outline: 2px solid var(--aui-active-filters-border-focus);
    outline-offset: 0;
    color: var(--aui-active-filters-icon-fg-hover);
}

.icon {
    display: block;
    width: var(--aui-active-filters-icon-size-md);
    height: var(--aui-active-filters-icon-size-md);
}
