.root {
    display: block;
    outline: none;
}

.sm {
    padding: var(--aui-select-list-pad-sm);
}

.md {
    padding: var(--aui-select-list-pad-md);
}

.lg {
    padding: var(--aui-select-list-pad-lg);
}
