.root {
    width: var(--trigger-width);
    min-width: var(--trigger-width);
    max-height: var(--aui-autocomplete-popover-max-h);
    overflow: auto;
    border: 1px solid transparent;
    border-radius: var(--aui-autocomplete-popover-radius-md);
    box-sizing: border-box;
}

.primary {
    border-color: var(--aui-autocomplete-popover-border-primary);
    background: var(--aui-autocomplete-popover-bg-primary);
}
